@Master['master.html']

@Section['Content']

<!-- BEGIN APP STRUCTURE -->
<div class="container">
    @Partial['header.html']
    <div class="row section">
        <div class="eight columns content"></div>
        <div class="four columns sidebar"></div>
    </div>
</div>
<div class="context-menu">
</div>
<!-- END APP STRUCTURE -->

<!-- BEGIN CLIENT TEMPLATES -->
<script id="tmpl-page" type="text/handlebars">
    <div class="page" id="page-{{id}}">
        {{>pageHeading}}
        {{#each lists}}
        {{>list}}
        {{/each}}
    </div>
    <p><a href="#" class="list-add button text-button"><i class="icon">&#xe802;</i> New List</a></p>
</script>

<script id="tmpl-pageHeading" type="text/handlebars">
    <h1>
        {{title}} 
        <span class="controls">
            <a href="#" class="page-delete" data-id="{{id}}"><i class="icon">&#xe800;</i></a> 
            <a href="#" class="page-edit" data-id="{{id}}"><i class="icon">&#xe801;</i></a>
        </span>
    </h1>
</script>

<script id="tmpl-pageAddForm" type="text/handlebars">
    <form class="page-add-form" action="/pages" method="{{method}}">
        <p>
            <input type="text" name="title" value="" placeholder="Page title" autocomplete="off"> 
            <button class="button-primary" type="submit"><i class="icon">&#xe804;</i> Save</button> <button class="cancel-button"><i class="icon">&#xe803;</i></button>
        </p> 
    </form>
</script>

<script id="tmpl-pageEditForm" type="text/handlebars">
    <form class="page-edit-form row" action="/pages/{{id}}" method="{{method}}">
        <div class="nine columns">
            <input class="u-full-width" type="text" name="title" value="{{title}}" placeholder="Page title" autocomplete="off"> 
        </div>
        <div class="three columns">
            <button class="button-primary" type="submit"><i class="icon">&#xe804;</i> Save</button>
            <button class="cancel-button"><i class="icon">&#xe803;</i></button>
        </div> 
    </form>
</script>

<script id="tmpl-list" type="text/handlebars">
    <div class="list" id="list-{{id}}" data-id="{{id}}">
        {{>listHeading}}
        <ul>
            {{#each items}}
            {{>item}}
            {{/each}}
        </ul>
        <p><a href="#" class="item-add button text-button" data-listid="{{id}}"><i class="icon">&#xe802;</i> Add Item</a></p>
    </div>
</script>

<script id="tmpl-listHeading" type="text/handlebars">
    <h2 class="list-heading">
        <span class="drag-handle"><i class="icon icon-sort">&#xf0dc;</i></span> 
        {{title}} 
        <span class="controls">
            <a href="#" class="list-delete" data-id="{{id}}"><i class="icon">&#xe800;</i></a> 
            <a href="#" class="list-edit" data-id="{{id}}"><i class="icon">&#xe801;</i></a>
        </span>
    </h2>
</script>

<script id="tmpl-listForm" type="text/handlebars">
    <form class="list-form row" action="/pages/{{pageID}}/lists{{#if id}}/{{id}}{{/if}}" method="{{method}}">
        <div class="nine columns">
            <input class="u-full-width" type="text" name="title" value="{{title}}" placeholder="Enter a title for the list" autocomplete="off"> 
        </div>
        <div class="three columns">
            <button class="button-primary" type="submit"><i class="icon">&#xe804;</i> Save</button>
            <button class="cancel-button"><i class="icon">&#xe803;</i></button>
        </div> 
    </form>
</script>

<script id="tmpl-item" type="text/handlebars">
    <li data-id="{{id}}" id="item-{{id}}">
        <span class="drag-handle"><i class="icon icon-sort">&#xf0dc;</i></span> 
        <input type="checkbox" data-listid="{{listID}}" data-id="{{id}}">
        {{#if title}}
        <a class="item-link" href="{{body}}">{{title}}</a>
        {{else}}
        {{body}}
        {{/if}} 
        <span class="controls">
            <a href="#" class="item-delete" data-listid="{{listID}}" data-id="{{id}}"><i class="icon">&#xe800;</i></a> 
            <a href="#" class="item-edit" data-listid="{{listID}}" data-id="{{id}}"><i class="icon">&#xe801;</i></a>
        </span>
    </li>
</script>

<script id="tmpl-itemForm" type="text/handlebars">
    <li>
        <form class="item-form row" action="/pages/{{pageID}}/lists/{{listID}}/items{{#if id}}/{{id}}{{/if}}" method="{{method}}">
            <div class="nine columns">
                <input type="hidden" name="title" value="{{title}}">
                <input class="u-full-width" type="text" name="body" value="{{body}}" placeholder="Enter the task or information" autocomplete="off"> 
            </div>
            <div class="three columns">
                <button class="button-primary" type="submit"><i class="icon">&#xe804;</i> Save</button>
                <button class="cancel-button"><i class="icon">&#xe803;</i></button>
            </div> 
        </form>
    </li>
</script>

<script id="tmpl-sidebarPageList" type="text/handlebars">
    <div class="sidebar-page-list">
        <ul>
            {{#each pages}}
            {{>sidebarPage}}
            {{/each}}
        </ul>
        <p><a href="#" class="page-add button text-button"><i class="icon">&#xe802;</i> New Page</a></p>
    </div>
</script>

<script id="tmpl-sidebarPage" type="text/handlebars">
    <li data-id="{{id}}"><a href="/{{id}}" class="sidebar-page-link" data-id="{{id}}" data-title="{{title}}">{{title}}</a> <span class="drag-handle"><i class="icon">&#xf0dc;</i></span></li>
</script>

<script id="tmpl-loader" type="text/handlebars">
    <div id="loader" class="pad"><img src="/img/gears.gif"></div>
</script>

<script id="tmpl-contextMenu" type="text/handlebars">
    <h1>Move This List To:</h1>
    <ul>
        {{#each pages}}
        <li><a href="#" class="context-menu-move" data-listid="{{../listID}}" data-pageid="{{id}}">{{title}}</a></li>
        {{/each}}
    </ul>
    <div class="context-menu-loader"><img src="/img/gears.gif" /></div>
</script>
<!-- END CLIENT TEMPLATES -->

<!-- BEGIN SCRIPTS -->
<script src="/js/jquery.js"></script>
<script src="/js/handlebars-v4.0.5.js"></script>
<script src="/js/sortable.js"></script>
<script src="/js/app.js"></script>

<script>
    GTDPad.init(@Model.InitialData, { debug: true });
</script>
<!-- END SCRIPTS -->

<!-- 
    icon-delete &#xe800;
    icon-edit   &#xe801;
    icon-add    &#xe802;
    icon-cancel &#xe803;
    icon-save   &#xe804;
    icon-sort   &#xf0dc;
-->

@EndSection