<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <title>@Model.Title</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
        <link rel="stylesheet" type="text/css" href="/css/app.css">
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        <!-- TODO: Buy http://www.flaticon.com/free-icon/list_181532 -->
    </head>
    <body>
        @Section['Content']
    </body>
    <!-- BUILD: 2021-05-09 08:56 -->
</html>