$inner-pad: 110px;
$sidebar-pad: 24px;
$font: "Roboto", Arial, Helvetica, sans-serif;

body, input, select, button {
    font-family: $font;
}

::-webkit-input-placeholder {
    font-family: $font;
}

:-ms-input-placeholder {
    font-family: $font;
}

:-moz-placeholder {
    font-family: $font;
}

::-moz-placeholder {
    font-family: $font;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

a {
    color: #184087;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

.drag-handle {
    cursor: pointer;
    font-size: 16px;
}

.controls {
    display: none;
    font-size: 16px;
    padding-left: 20px;
    letter-spacing: normal;
    vertical-align: middle;
}

.controls a {
    text-decoration: none;
}

.page h1:hover .controls, .list li:hover .controls, .list h2:hover .controls {
    display: inline;
}

.page form, .page input {
    margin-bottom: 0;
}

.page h1 {
    position: relative;
    padding-left: $inner-pad;
}

.page h1 .controls {
    position: absolute;
    top: 7px;
    left: 0;
}

.page-edit-form {
    padding-left: $inner-pad;
}

.page li {
    position: relative;
    padding-left: $inner-pad + 20px;
}

.page li .controls {
    position: absolute;
    top: -1px;
    left: 0;
}

.page li .drag-handle {
    position: absolute;
    top: -1px;
    left: 85px;
}

.page li input[type="checkbox"] {
    position: absolute;
    top: 6px;
    left: 110px;
}

.list h2 {
    position: relative;
    padding-left: $inner-pad;
    margin-bottom: 0;
}

.list h2 .controls {
    position: absolute;
    top: 4px;
    left: 0;
}

.list h2 .drag-handle {
    position: absolute;
    top: 4px;
    left: 85px;
}

.list ul {
    padding-top: 20px;
}

.list li {
    overflow: hidden;
}

.list-form {
    margin-left: $inner-pad;
}

.header {
    margin: 20px 0 20px 0;
}

.header-logo {
    font-weight: 500;
    padding-left: $inner-pad;
}

.header-logo a {
    text-decoration: none;
    color: #000;
}

.header-logo a:hover {
    text-decoration: underline;
}

.header-controls {
    text-align: right;
    padding-right: $inner-pad + $sidebar-pad;
}

.sidebar {
    padding-right: $inner-pad;
}

.sidebar p {
    padding-right: $sidebar-pad;
}

.sidebar-page-list {
    text-align: right;
    margin-top: 53px;
}

.sidebar-page-list form {
    margin-top: 20px;
}

.sidebar-page-list > p {
    margin-top: 20px;
}

.page-add-form input[type="text"] {
    max-width: 100%;
}

/*.sortable-drag {
    color: #4faa5e;
}

.sortable-chosen {
    color: #4faa5e;
}

.sortable-ghost {
    color: #4faa5e;
}*/

.button.item-add {
    height: 26px;
    line-height: 26px;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    padding: 0 11px 0 11px;
}

.text-button {
    border: none;
    padding: 0;
}

.sidebar-page-list li {
    position: relative;
    padding-right: 25px;
}

.sidebar-page-list li .drag-handle {
    position: absolute;
    top: -1px;
    right: 0;
}

.content p {
    padding-left: $inner-pad;
}

.list p {
    padding-left: $inner-pad;
    margin-top: 5px;
}

@font-face {
    font-family: 'gtdpad';
    src: url('../font/gtdpad.eot?19499820');
    src: url('../font/gtdpad.eot?19499820#iefix') format('embedded-opentype'),
         url('../font/gtdpad.woff?19499820') format('woff'),
         url('../font/gtdpad.ttf?19499820') format('truetype'),
         url('../font/gtdpad.svg?19499820#gtdpad') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: "gtdpad";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    // margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    // margin-left: .2em;

    /* You can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.pad {
    padding-left: $inner-pad;
}

#loader {
    padding-top: 58px;
    text-align: center;
}