body {
    font-family: Arial, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

a {
    color: #184087;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

.drag-handle {
    cursor: pointer;
}

.controls {
    display: none;
    color: #6c8d89;
    font-size: 0.8em;
    padding-left: 12px;
}

.controls a {
    color: #6c8d89;
    text-decoration: none;
}

.controls a:hover {
    text-decoration: underline;
}

.page h1:hover .controls, .list li:hover .controls, .list h2:hover .controls {
    display: inline;
}

.page form, .page input {
    margin-bottom: 0;
}

.header {
    margin-bottom: 20px;
}

.header-logo {
    font-weight: bold;
}

.header-logo a {
    text-decoration: none;
    color: #000;
}

.header-logo a:hover {
    text-decoration: underline;
}

.header-controls {
    text-align: right;
}

.sidebar-page-list {
    text-align: right;
    margin-top: 53px;
}

.sidebar-page-list form {
    margin-top: 20px;
}

.sidebar-page-list > p {
    margin-top: 20px;
}