@Master['master.html']

@Section['Content']

<!-- BEGIN APP STRUCTURE -->
<div class="container">
    <div class="row section">
        <div class="nine columns content">
            Page Content
        </div>
        <div class="three columns sidebar">
            Side Bar
        </div>
    </div>
</div>
<!-- END APP STRUCTURE -->

<!-- BEGIN CLIENT TEMPLATES -->
<script id="tmpl-page" type="text/handlebars">
    <div class="page" id="page-{{id}}">
        <h1>{{name}}</h1>
        {{#each lists}}
        {{>list}}
        {{/each}}
        <p><a href="#" class="list-add">Add List</a></p>
    </div>
</script>

<script id="tmpl-list" type="text/handlebars">
    <div class="list" id="list-{{id}}">
        {{>listHeading}}
        <ul>
            {{#each items}}
            {{>item}}
            {{/each}}
            <li><a href="#" class="item-add" data-listid="{{id}}">Add Item</a></li>
        </ul>
    </div>
</script>

<script id="tmpl-listHeading" type="text/handlebars">
    <h2>{{name}} <a href="#" class="list-edit" data-id="{{id}}">Edit</a></h2>
</script>

<script id="tmpl-listForm" type="text/handlebars">
    <form class="list-form" action="/pages/{{pageID}}/lists{{#if id}}/{{id}}{{/if}}" method="{{method}}">
        <p>
            <input type="text" name="name" value="{{name}}" placeholder="Enter a name for the list"> 
            <input type="submit" value="Save">
        </p>
    </form>
</script>

<script id="tmpl-item" type="text/handlebars">
    <li id="item-{{id}}">{{text}} <a href="#" class="item-edit" data-listid="{{listID}}" data-id="{{id}}">Edit</a> | <a href="#" class="item-delete" data-listid="{{listID}}" data-id="{{id}}">Delete</a></li>
</script>

<script id="tmpl-itemForm" type="text/handlebars">
    <li>
        <form class="item-form" action="/pages/{{pageID}}/lists/{{listID}}/items{{#if id}}/{{id}}{{/if}}" method="{{method}}">
            <input type="text" name="text" value="{{text}}" placeholder="Enter the task or information"> 
            <input type="submit" value="Save">
        </form>
    </li>
</script>

<script id="tmpl-sidebarPageList" type="text/handlebars">
    <div class="sidebar-page-list">
        <h2>Pages</h2>
        <ul>
            {{#each pages}}
            {{>sidebarPage}}
            {{/each}}
            <li><a href="#">Add Page</a></li>
        </ul>
    </div>
</script>

<script id="tmpl-sidebarPage" type="text/handlebars">
    <li id="sidebar-page-{{id}}"><a href="/{{id}}">{{name}}</a></li>
</script>
<!-- END CLIENT TEMPLATES -->

<!-- BEGIN SCRIPTS -->
<script src="/js/jquery.js"></script>
<script src="/js/jquery.history.js"></script>
<script src="/js/handlebars-v4.0.5.js"></script>
<script src="/js/sortable.js"></script>
<script src="/js/app.js"></script>

<script>
    GTDPad.init(@Model.InitialData);
</script>
<!-- END SCRIPTS -->

@EndSection