@Master['master.html']

@Section['Content']

<!-- BEGIN APP STRUCTURE -->
<div class="container">
    @Partial['header.html']
    <div class="row section">
        <div class="eight columns content"></div>
        <div class="four columns sidebar"></div>
    </div>
</div>
<!-- END APP STRUCTURE -->

<!-- BEGIN CLIENT TEMPLATES -->
<script id="tmpl-page" type="text/handlebars">
    <div class="page" id="page-{{id}}">
        {{>pageHeading}}
        {{#each lists}}
        {{>list}}
        {{/each}}
    </div>
    <p><a href="#" class="list-add button">New List</a></p>
</script>

<script id="tmpl-pageHeading" type="text/handlebars">
    <h1>
        {{title}} 
        <span class="controls">
            <a href="#" class="page-delete" data-id="{{id}}"><i class="icon">&#xe801;</i></a> 
            <a href="#" class="page-edit" data-id="{{id}}"><i class="icon">&#xe800;</i></a>
        </span>
    </h1>
</script>

<script id="tmpl-pageAddForm" type="text/handlebars">
    <form class="page-add-form" action="/pages" method="{{method}}">
        <p>
            <input type="text" name="title" value="" placeholder="Page title"> 
            <input class="button-primary" type="submit" value="Save"> <button class="cancel-button">Cancel</button>
        </p> 
    </form>
</script>

<script id="tmpl-pageEditForm" type="text/handlebars">
    <form class="page-edit-form row" action="/pages/{{id}}" method="{{method}}">
        <div class="eight columns">
            <input class="u-full-width" type="text" name="title" value="{{title}}" placeholder="Page title"> 
        </div>
        <div class="two columns">
            <input class="u-full-width button-primary" type="submit" value="Save">
        </div>
        <div class="two columns">
            <button class="cancel-button u-full-width">Cancel</button>
        </div> 
    </form>
</script>

<script id="tmpl-list" type="text/handlebars">
    <div class="list" id="list-{{id}}" data-id="{{id}}">
        {{>listHeading}}
        <ul>
            {{#each items}}
            {{>item}}
            {{/each}}
        </ul>
        <p><a href="#" class="item-add button" data-listid="{{id}}">Add Item</a></p>
    </div>
</script>

<script id="tmpl-listHeading" type="text/handlebars">
    <h2>
        <span class="drag-handle"><i class="icon icon-sort">&#xf0dc;</i></span> 
        {{title}} 
        <span class="controls">
            <a href="#" class="list-delete" data-id="{{id}}"><i class="icon">&#xe801;</i></a> 
            <a href="#" class="list-edit" data-id="{{id}}"><i class="icon">&#xe800;</i></a>
        </span>
    </h2>
</script>

<script id="tmpl-listForm" type="text/handlebars">
    <form class="list-form row" action="/pages/{{pageID}}/lists{{#if id}}/{{id}}{{/if}}" method="{{method}}">
        <div class="eight columns">
            <input class="u-full-width" type="text" name="title" value="{{title}}" placeholder="Enter a title for the list"> 
        </div>
        <div class="two columns">
            <input class="u-full-width button-primary" type="submit" value="Save">
        </div>
        <div class="two columns">
            <button class="cancel-button u-full-width">Cancel</button>
        </div> 
    </form>
</script>

<script id="tmpl-item" type="text/handlebars">
    <li data-id="{{id}}" id="item-{{id}}">
        <span class="drag-handle"><i class="icon icon-sort">&#xf0dc;</i></span> 
        {{#autoLink}}{{body}}{{/autoLink}} 
        <span class="controls">
            <a href="#" class="item-delete" data-listid="{{listID}}" data-id="{{id}}"><i class="icon">&#xe801;</i></a> 
            <a href="#" class="item-edit" data-listid="{{listID}}" data-id="{{id}}"><i class="icon">&#xe800;</i></a>
        </span>
    </li>
</script>

<script id="tmpl-itemForm" type="text/handlebars">
    <li>
        <form class="item-form row" action="/pages/{{pageID}}/lists/{{listID}}/items{{#if id}}/{{id}}{{/if}}" method="{{method}}">
            <div class="eight columns">
                <input class="u-full-width" type="text" name="body" value="{{body}}" placeholder="Enter the task or information"> 
            </div>
            <div class="two columns">
                <input class="u-full-width button-primary" type="submit" value="Save">
            </div>
            <div class="two columns">
                <button class="cancel-button u-full-width">Cancel</button>
            </div> 
        </form>
    </li>
</script>

<script id="tmpl-sidebarPageList" type="text/handlebars">
    <div class="sidebar-page-list">
        <ul>
            {{#each pages}}
            {{>sidebarPage}}
            {{/each}}
        </ul>
        <p><a href="#" class="page-add button">New Page</a></p>
    </div>
</script>

<script id="tmpl-sidebarPage" type="text/handlebars">
    <li data-id="{{id}}"><a href="/pages/{{id}}" class="sidebar-page-link">{{title}}</a> <span class="drag-handle"><i class="icon icon-sort">&#xf0dc;</i></span></li>
</script>
<!-- END CLIENT TEMPLATES -->

<!-- BEGIN SCRIPTS -->
<script src="/js/jquery.js"></script>
<script src="/js/jquery.history.js"></script>
<script src="/js/handlebars-v4.0.5.js"></script>
<script src="/js/sortable.js"></script>
<script src="/js/app.js"></script>

<script>
    GTDPad.init(@Model.InitialData, { debug: true });
</script>
<!-- END SCRIPTS -->

@EndSection